header{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.si p{
    position: absolute;
    top: -12px;
    left: 60px;
    font-size: 20px;
}
header .hd{
    position: absolute;
    top: 7px;
    right: 60px;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    background-color: rgb(247,229,175);
    color: rgb(31,21,9);
    padding: 7px 15px;
    border-radius: 10px;
}
main img{
    position: relative;
}
.main1{
    position: absolute;
    color: rgb(247,229,175);
    font-size: 20px;
    top: 330px;
    left: 650px;
}
.main2{
    position: absolute;
    color: rgb(247,229,175);
    font-size: 30px;
    top: 360px;
    left: 580px;
}
.main3{
    position: absolute;
    color: rgb(247,229,175);
    font-size: 20px;
    top: 460px;
    left: 440px;
}
.main4{
    position: absolute;
    color: rgb(247,229,175);
    font-size: 20px;
    top: 490px;
    left: 490px;
}
.main5{
    position: absolute;
    color: rgb(247,229,175);
    font-size: 20px;
    top: 560px;
    left: 670px;
    background-color: rgb(247,229,175);
    padding: 10px;
    color: rgb(31,21,9);
    border-radius: 30px;
}
.sec1{
    display: flex;
    position: relative;;
}
section .div1{
    position: absolute;
    top: 100px;
    left: 180px;
}
.div1 img{
    border-radius: 20px;
}
.sd11{
    position: absolute;
    top: 110px;
    left: 650px;
    font-size: 30px;
    color: rgb(31,21,9);
}
.under{
    position: absolute;
    top: 150px;
    left: 649px;
    color: rgb(31,21,9);
}
.sd12{
    position: absolute;
    top: 190px;
    left: 650px;
    width: 570px;
    font-size: 20px;
    color: #826d18;
}
.sd13{
    position: absolute;
    top: 300px;
    left: 650px;
    font-size: 20px;
    width: 570px;
    color: #826d18;
}
.div3{
    position: absolute;
    top: 550px;
    text-align: center;
    width: 100%;
}
.fl{
    display: grid;
    grid-template-columns: auto auto;
}
.fl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 670px;
    left: 80px;
    
}
.fl div{
    width: 400px;
    text-align: center;
    border: 2px solid rgb(31,21,9);
    margin: 30px;
    background-color: rgb(247,229,175);
    border-radius: 20px;
}
.bb{
    position: absolute;
    top: 1150px;
    text-align: center;
    font-size: 25px;
    width: 95%;
    color: rgb(31,21,9);
    background-color: rgb(247,229,175);
    padding: 40px;
}
.bb button{
    font-size: 20px;
    background-color: rgb(31,21,9);
    color: rgb(247,229,175);
    padding: 15px;
}
.ff{
    background-color: rgb(35, 27, 4);
    position: absolute;
    top: 1350px;
    width: 100%;
    color: white;
}
.ff>h4{
    text-align: center;
    font-size: 40px;
}
.ff div{
    grid-template-columns: auto auto;
    text-align: center;
    padding: 20px;
}
.price{
    font-weight: bold;
    font-family:sans-serif;
    font-size: 25px;
}
#jo{
    font-size: 30px;
}
